<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/jvh1zdg.css">
    <link rel="stylesheet" type="text/css" href="/css/ls.css">

    <link rel="shortcut icon" type="image/png" href="/img/lament_16x16.png" />
    <meta name="robots" content="noindex">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="destiny diary">
    <meta property="og:image" content="{{ img }}">
    <meta property="og:url" content="{{ post.url }}">
    <meta name="twitter:card" content="summary_large_image">
</head>


<body>

  {% include header %}
  {{ content }}

</body>
</html>