---
layout: layout
pagination: 
  data: legend
  size: 1
  alias: legend
permalink: "sector/{{ legend.name | slug }}/"
eleventyComputed:
  title: |
    {{ legend.name }}
  desc: |
    {{ legend.name }} Lost Sector at Legend (1550) difficulty – champions, burn, shields, modifiers, and notes.
---

<main class="ls-container">

<article class="ls">
  <div class="ls__meta">
    Legend (1550)<span class="ls__location">{{ legend.location }}</span>
  </div>
  <h1 class="ls__name">{{ legend.name }}</h1>

  <h2>Champions</h2>
  <ul class="ls__champions-list">
    {% for champions in legend.champions %}
      <li class="ls__champions-item">
        <h3 class="ls__champion">
          {% include 'champions.liquid' %}
          {{ champions.name }} <span class="ls__champion-count">({{ champions.number }})</span>
        </h3>
        <p class="ls__champion-desc">{{ champions.desc }}</p>
      </li>
    {% endfor %}
  </ul>
  
  <h2>Burn</h2>
  <h3 class="ls__element">{% include 'burn.liquid' %} {{ legend.burn }}</h3>
  <p class="ls__burn-desc">{{ legend.burnDesc }}</p>
 
  <h2>Shields</h2>
  <ul class="ls__shields-list">
    {% for shields in legend.shields %}
      <li class="ls__shields-item">
        <h3 class="ls__shield ls__element">
          {% include 'shields.liquid' %}
        {{ shields.name }} <span class="ls__shields-count">({{ shields.frequency }})</span>
        </h3>
        <p class="ls__shields-desc">{{ shields.desc }}</p>
      </li>
    {% endfor %}
  </ul>
    
  <h2>Modifiers</h2>
  {% for modifiers in legend.modifiers %}
    <p><strong>{{ modifiers.name }}</strong> – {{ modifiers.desc }}</p>
  {% endfor %}

  <h2>Notes</h2>
  <p>{{ legend.notes }}</p>

  {% comment %} <h2>Personal Loadout</h2>
  <ul class="ls-list">
    {% for loadout in legend.loadout %}
      <li><strong>Kinetic</strong>: {{ loadout.kinetic }}</li>
      <li><strong>Energy</strong>: {{ loadout.energy }}</li>
      <li><strong>Power</strong>: {{ loadout.power }}</li>
      <li><strong>Subclass</strong>: {{ loadout.subclass }}</li>
      <li><strong>Exotic</strong>: {{ loadout.exotic }}</li>
    {% endfor %}
  </ul> {% endcomment %}

</article>

</main>
