---
layout: layout
---

<main class="ls-container">

<h1 class="page-title">{{ title }}</h1>

{{ content }}

<ul class="ls-list">
{% for risen in risen %}
  <li><a href="/sector/{{ risen.name | slug }}">{{ risen.name }}</a> ({{ risen.location }})</li>
{% endfor %}
</ul>

</main>